<launch>

    <node name="show_path" pkg="sdpc" type="show_path" output="screen">
        <param name="total_time" value="5" />
        <param name="dt" value="0.2" />
        <param name="path_fn" value="$(find sdpc)/path_dir/path1.txt" />
    </node>

    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find sdpc)/rviz/show_path.rviz" />

</launch>